{% extends 'main/base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block content %}
  <style>
    body {
      background-image: scr('alatoo');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>

  <h1>О сайте</h1>
  <p>Поиск: Пользователи могут ввести имя и группу человека, которого они ищут в учебном заведении. Сайт осуществляет поиск по Instagram для нахождения соответствующих профилей.</p>
  <p>Интеграция с базой данных: Сайт может интегрировать базу данных участников учебного заведения или связываться с учебными записями для точного соответствия их имен и групп с профилями Instagram.</p>
  <p>Фильтрация и сортировка: Пользователи могут фильтровать результаты поиска по различным критериям, таким как местоположение, интересы, курсы или другие сведения о людях, которых они ищут.</p>
  <p>Подтверждение профиля: Сайт может иметь систему верификации профилей в учебном заведении, обеспечивая пользователям поиск подлинных и точных профилей.</p>
  <p>Профили пользователей: Сайт может предоставлять учетные записи пользователей, где люди в учебном заведении могут создавать и управлять своими профилями для большей доступности.</p>
  <p>Система уведомлений: Уведомление пользователей о новых профилях, соответствующих их критериям поиска, или о том, что кто-то ищет их.</p>
  <p>Меры конфиденциальности и безопасности: Внедрение мер для защиты данных, настроек конфиденциальности и безопасности для всех профилей пользователей и поисков, проводимых на сайте.</p>
  <p>Совместимость с мобильными устройствами: Обеспечение оптимизации сайта для мобильных устройств, так как Instagram в основном предназначен для использования на мобильных устройствах.</p>
  <p>Обратная связь и жалобы: Позволение пользователям предоставлять обратную связь, сообщать о неправильных или фальшивых профилях и предлагать улучшения сервиса.</p>
  <p></p>
  <p>Помните, что конфиденциальность и защита данных должны быть важным аспектом в сервисе, который связывает информацию учебного заведения с социальными медиа-профилями. Важно придерживаться согласия пользователей и защиты данных.</p>

{% endblock %}


